<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_mrp_planner_root"
              name="Kế hoạch Sản xuất"
              sequence="10"/>

    <menuitem id="menu_product_planner_action"
              name="Thông tin sản phẩm"
              parent="menu_mrp_planner_root"
              action="action_product_list"
              sequence="10"/>

    <menuitem id="menu_product_bom_action"
              name="Định mức BoM &amp; Lệnh SX"
              parent="menu_mrp_planner_root"
              action="action_product_bom"
              sequence="20"/>

    <menuitem id="menu_product_order_action"
              name="Lệnh làm việc (Work Order)"
              parent="menu_mrp_planner_root"
              action="action_product_order"
              sequence="30"/>
</odoo>